.ai-review{
    border: 1px solid gray;
    width: 40rem;
    min-height: 13rem;
    background-color: white;
    color:black;
    padding: 3rem;
    border-radius: 2rem;
}
.ai-review textarea{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    resize: none;
    margin-left: 1rem;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.btn{
    background-color: black;
    border: none;
    outline: none;
    padding:1rem 3rem 1rem 3em;
    color: white;
    border-radius: .5rem;
    margin-top: 1rem;
    cursor: pointer;
    font-weight: 600;
    font-size: large;
}
.review-area{
    width: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
h3{
    font-size: 3rem;
}
h2{
    text-align: center;
}
.img-container{
    height: 53vh;
    
}
img{
    height: 100%;
    width: 100%;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.disable{
    pointer-events: none;
}
.heading31{
    display: none;

}
.ReviewComponentContainer1{
    display: none;
}